@keyframes fadeout {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
    display: none;
  }
}

@keyframes fadein {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

.tree {
  position: absolute;
  width: 300px;
  height: 300px;
}

.tree-current {
  animation: 1s fadeout ease-in-out forwards;
  z-index: 1;
}

.tree-next {
  z-index: 0;
  animation: 1s fadein ease-in-out forwards;
}

.tree_completed {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0px;
  top: 0px;
}

.tree_completed > img {
  height: 64px;
}

.tree_completed > p {
  position: absolute;
  top: 24px;
  font-size: 24px;
  z-index: 1;
}
